<configuration>

    <appender name="myConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} [IP:%X{clientIp}] [ReqId:%X{requestId}] - %msg%n
            </pattern>
        </encoder>
    </appender>

<!--    <appender name="myFileAppender" class="ch.qos.logback.core.FileAppender">-->
<!--        <file>-->
<!--            advAuthSys.log-->
<!--        </file>-->
<!--        <encoder>-->
<!--            <pattern>-->
<!--                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} [IP:%X{clientIp}] - %msg%n-->
<!--            </pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

    <appender name="JSON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app.json</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/app-%d{yyyy-MM-dd}.json</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <logLevel/>
                <threadName/>
                <loggerName/>

                <pattern>
                    <pattern>
                        {
                        "service": "auth-service",
                        "app_version": "1.0"
                        }
                    </pattern>
                </pattern>

                <mdc/>

                <message/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>



    <root level="INFO">
        <appender-ref ref="JSON_FILE"/>
        <appender-ref ref="myConsoleAppender"/>
<!--        <appender-ref ref="myFileAppender"/>-->
    </root>

</configuration>
